<p class="mb-4">(Add details about how to get Twilio client id and secret) please visit <a target="_blank" href="https://www.twilio.com/">Twilio</a>.</p>
<div class="row">
  <div class="col-lg-6">
    <%= form_with(model: restaurant, local: true) do |form| %>
      <% if restaurant.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>
          <ul>
            <% restaurant.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group mb-2">
        <%= form.label :name %>
        <%= form.text_field :name, class: 'form-control form-control-sm' %>
      </div>
      <div class="form-group mb-2">
        <%= form.label :phone_number %><span class="text-xs text-gray-600"> Including country code, eg +919999999999</span>
        <%= form.text_field :phone_number, class: 'form-control form-control-sm' %>
      </div>
      <div class="form-group mb-2">
        <%= form.label :address %>
        <%= form.text_area :address, class: 'form-control form-control-sm' %>
      </div>
      <div class="form-group mb-2">
        <%= form.label :account_sid %>
        <%= form.password_field :account_sid, class: 'form-control form-control-sm', value: restaurant.account_sid, onfocus: "this.type='text'", onfocusout: "this.type='password'"%>
      </div>
      <div class="form-group mb-2">
        <%= form.label :auth_token %>
        <%= form.password_field :auth_token, class: 'form-control form-control-sm', value: restaurant.auth_token , onfocus: "this.type='text'", onfocusout: "this.type='password'"%>
      </div>
      <div class="form-group mb-2">
        <%= form.submit class: 'btn btn-primary mb-2' %>
      </div>
    <% end %>
    <%- if restaurant.persisted? %>
      <br/>
      <div class="form-group mb-2">
        <label for="webhook_url">Webhook URL</label>
        <div class="input-group">
          <%- webhook_url = restaurant_webhook_url(restaurant_id: restaurant.id) %>
          <%= text_field_tag :webhook_url, webhook_url, class: "form-control-plaintext", readonly: true %>
          <div class="input-group-append">
            <button type="button" class="btn btn-secondary" onclick="copyToClipboard('webhook_url')">
              <i class="fa fa-paste"></i>
            </button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  function copyToClipboard(id) {
    /* Get the text field */
    var copyText = document.getElementById(id);

    /* Select the text field */
    copyText.select();
    copyText.setSelectionRange(0, 99999); /*For mobile devices*/

    /* Copy the text inside the text field */
    document.execCommand("copy");

    document.getSelection().removeAllRanges();
  }
</script>
