<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @item.cost %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @item.restaurant_id %>
</p>

<%= link_to 'Edit', edit_restaurant_item_path(@restaurant, @item) %> |
<%= link_to 'Back', restaurant_items_path %>
